

body {
    background-image: url(https://i.pinimg.com/originals/0e/b1/56/0eb15636563ecc2920056a5dd6e496c5.gif);
    background-size: cover;
}

#logo {
    position: absolute;
    top:0%;
    right: 5%;
}

h1{
    position: relative;
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Staatliches', cursive;
    text-shadow: 5px  2px 4px rgb(255, 0, 0);
}

p{
    position: relative;
    left: 25%;
    display: block;
    width: 50%;
    border-style: solid;
    background-color: black;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    text-shadow: 5px  2px 4px rgb(255, 0, 0);
}


button{
    font-size: 60px;
    font-family: 'Staatliches', cursive;
    text-shadow: 5px  2px 4px rgb(255, 0, 0);
    background-color: transparent;
    border-style: none;
}

a{
    display: inline-flex;
    
    color: rgb(255, 255, 255);
    text-decoration:none;
}

button:hover{
    border-style:solid;
    border-color: rgb(255, 255, 255);
    background-image: url(https://media1.giphy.com/media/W0RPj8pyB2xvTnqUT0/200w.gif?cid=6c09b9524jqzilq71a9aj4tl066e1hehkjslbhy71ms0sprq&ep=v1_gifs_search&rid=200w.gif&ct=g);
    border-width: 5px;
}
