
body{
    background-image: url(https://th.bing.com/th/id/R.f1837736d507a2666762717813ee41c8?rik=dnL3xU%2fzGG5K9Q&pid=ImgRaw&r=0);
    background-size: 100%;
}

.heading{
    position: absolute;
    top: -5%;
    font-size: 50px;
    font-family: 'Bayon', sans-serif;
    color:rgb(221, 0, 217);
    text-shadow: 5px 5px white;
}

#heading-1{
      position: absolute;
top: -5%;
font-size: 50px;
font-family: 'Bayon', sans-serif;
color:rgb(255, 149, 0);
text-shadow: 5px 5px white;
} 

.arrows {
	width: 60px;
	height: 28%;
	position: absolute;
	left: 4%;
	margin-left: -30px;
	top: 90%;
}


.arrows-2 {
	width: 60px;
	height: 28%;
	position: absolute;
	left: 96%;
	margin-left: -30px;
	top: 90%;
}

.arrows-3 {
    position: absolute;
    left:48%;
	width: 60px;
	height: 28%;
	top: 90%;
}

.arrows path {
	stroke: #ffff00;
	fill: transparent;
	stroke-width: 10px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows-2 path {
	stroke: #ffff00;
	fill: transparent;
	stroke-width: 10px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows-3 path {
	stroke: #ffff00;
	fill: transparent;
	stroke-width: 10px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.arrows-2 path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows-2 path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows-2 path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.arrows-3 path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows-3 path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows-3 path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    position:absolute;
    left: 68%;
    top: 19%;
    text-align: center;
}

.button-2 {
    position:absolute;
    left: 84%;
    top: 19%;
    text-align: center;
}

.btn-hover {
    width: 300px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Bayon', sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 65px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

#contactme{
    position: absolute;
    left: 80%;
    top: 0%;
    font-size: 90px;
    font-family: 'Bayon', sans-serif;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}
#author{
    position: absolute;
    top:70%;
    left: 35%;
    font-size: 50px;
    font-family: 'Bayon', sans-serif;
    color:rgb(255, 255, 255);
}

#qoute{
    position: absolute;
    top: 36%;
    left: 30%;
   text-align: center;
    font-family: 'Bayon', sans-serif;
    font-size: 33px;
    color:rgb(255, 255, 255);
}

.image-1{
    position: absolute;
    right: 10%;
    top: 113%;
    width: 90%;
}

footer{
    font-size: 25px;
    color: white;
    margin-top: 15%;
}

@media only screen and (max-width: 390px){
    body {
        background-size: 700px 530%;
    }

    h1 {
        position: absolute;
        bottom: 70%;
        font-size: 50px;
        
    }

    button{
        position: absolute;
        width: 80%;
        font-size: 35px;
    }

    p{
        position: absolute;
        top:39%;
        font-size: 10px;
    }
    
}