body{
    background-image: url("https://www.bing.com/th/id/OGC.385f0a0f499f8911811962c4ca55ddb1?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f08%2feb%2fa1%2f08eba1de6100c1f367c847c512ba0ad4.gif&ehk=eF6fpbS%2bqq3MGgz4z1nwt%2fphyikTcprcBc5yS3yXCig%3d");
    background-size: cover;
    
}

button{
    position: absolute;
    top: 150px;
    left: 40px;
    font-size: 60px;
    border-style: none;
    background-color: transparent;
    color:white;
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
}

button:hover{
    display: block;
    border-color: aqua;
    border-style: solid;
    transition: background 300ms ease-in-out;
    background-color: rgb(42, 149, 165);
    box-shadow: 5px 2px 50px 0px aqua;
}

a{
    color:white;
    text-decoration: none;
    
}


h1 {
    position: relative;
    top: 190px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: rgb(0, 0, 0);
}

p{
    position: relative;
    top: 160px;
    left: 30%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255); 
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 40%;
    box-shadow: 5px 10px 5px rgb(0, 143, 143);
}

